<h2 align= "center">LEAD QUALITY CATEGORIZATION FOR ENHANCED SALES</h2>

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
import mysql.connector as connector
import os
from dotenv import load_dotenv

In [7]:
# Load environment variables from .env file

load_dotenv()

True

In [8]:
# Fetch database connection parameters from environment variables
db_params = {
    'dbname': os.environ.get('DB_NAME'),
    'table': os.environ.get('DB_TABLE_NAME'),
    'host': os.environ.get('DB_HOST'),
    'port': os.environ.get('DB_PORT'),
    'userame': os.environ.get('DB_USERNAME'),
    'password': os.environ.get('DB_PASSWORD'),
}

In [10]:
connection = connector.connect(host=db_params['host'], user=db_params['userame'], password=db_params['password'], database=db_params['dbname'])

In [11]:
# List of Databases

cursor = connection.cursor()
cursor.execute('show databases')
for database in cursor:
    print(database)

('information_schema',)
('project_sales',)

In [12]:
# List of Tables

db_tables = pd.read_sql_query('show tables', connection)
print(db_tables)

  Tables_in_project_sales
0                    data

In [13]:
query = 'select * from data'
output_from_database = pd.read_sql_query(query, connection)
output_from_database

,Created,Product_ID,Source,Mobile,EMAIL,Sales_Agent,Location,Delivery_Mode,Status
0,14-11-2018 10:05,,Website,984XXXXXXX,aXXXXXXX@gmail.com,Sales-Agent-11,,Mode-5,Open
1,14-11-2018 09:22,,Website,XXXXXXX,#VALUE!,Sales-Agent-10,,Mode-5,Open
2,14-11-2018 09:21,,Website,XXXXXXX,dXXXXXXX@yahoo.com,Sales-Agent-10,,Mode-5,Open
3,14-11-2018 08:46,,Website,XXXXXXX,wXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
4,14-11-2018 07:34,,Website,XXXXXXX,cXXXXXXX@gmail.com,Sales-Agent-10,,Mode-5,Open
...,...,...,...,...,...,...,...,...,...
7417,28-04-2018 09:45,9,Call,,aXXXXXXX@gmail.com,Sales-Agent-6,Mumbai,Mode-4,LOST
7418,28-04-2018 09:43,15,Call,,#VALUE!,Sales-Agent-12,Other Locations,Mode-5,LOST
7419,28-04-2018 09:20,5,Live Chat-Direct,,sXXXXXXX@gmail.com,Sales-Agent-11,Bangalore,Mode-1,Not Responding
7420,28-04-2018 08:04,21,CRM form,,YXXXXXXX@gmail.com,Sales-Agent-4,Other Locations,Mode-1,Just Enquiry
7421,28-04-2018 07:54,25,Website,,cXXXXXXX@gmail.com,Sales-Agent-3,Chennai,Mode-1,CONVERTED

In [14]:
directory = 'data'

if not os.path.exists(directory):
    os.makedirs(directory)

directory_path = os.path.join(directory, 'data.csv')
output_from_database.to_csv(directory_path, index=False)

print(f'Data saved successfully {directory_path}')

Data saved successfully data\data.csv